<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syahputrareno975.dompetku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.reportDiagramActivity.ReportDiagramActivity"></activity>
        <activity android:name=".ui.activity.reportMenuActivity.ReportMenuActivity" />
        <activity android:name=".ui.activity.expenseActivity.ExpenseActivity" />
        <activity android:name=".ui.activity.incomeActivity.IncomeActivity" />

        <service
            android:name=".service.NotifService"
            android:enabled="true"
            android:exported="true"
            android:process=":externalProcess"
            android:stopWithTask="false" />

        <activity android:name=".ui.activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.mainMenuActivity.MainMenuActivity" />
    </application>

</manifest>